body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Nav-font{

  font-family: 'Fredoka One', cursive;
}
.Large-text{
  font-size: 2rem;
}
.Small-text{
  font-size: 1rem;
}
.background-image{

  background: #49F2F2;
  background: -webkit-linear-gradient(top left, #49F2F2, #E254BF);
  background: -moz-linear-gradient(top left, #49F2F2, #E254BF);
  background: linear-gradient(to bottom right, #49F2F2, #E254BF);

} 
.Home{
  height: 500px;
}
.rounded-corners{
  border-radius: 15px ;
}
.width{
  width: 400px;
}

.half-width{
  width:190px;
}

.black{
  color:black !important;
}
.b-none{
  border:none;
}
.img-size{
height:250px;
width: 350px;

}
.smaller{
  font-size: 1rem;
}
.size{
width:205px;
}
.bord{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.detailsimg{
  height:350px;
  
}

.img{
  border-radius: 25px;
}